

.main_sidebar ul {
    list-style:none;
    padding-left:58px;
     margin-top: 30px;
}
.main_sidebar ul li {
    padding:10px;
    /* margin-top: 20px; */
}
.main_sidebar ul li a {
    color:#fff;
    display:block;
}
.main_sidebar ul li i {
    float:left;
    color:grey;
    margin-left:-58px;
    font-size:24px;
    padding-left:7px;
}
.main_sidebar ul li:hover {
    /* background:#167696; */
    background: linear-gradient(to right, rgb(81, 85, 81) , rgb(71, 145, 206));

}
.main_sidebar ul li a:hover {
    color:#fff;
    text-decoration:none;
}
.main_sidebar ul li:hover i {
    color:#fff;
}
.sidebar{
    font-size: 35px;
}
#sidebar-wrapper{
    background-color: #3e4eaa;
}
.fa{
    margin-right: 25px;
    margin-left: 15px;
}
a{
color: beige;
text-decoration: none;

}
#bhover:hover{
    background: #fff;
    color:#000;
    border-top-left-radius: 50px 50px;
  border-bottom-left-radius: 50px 50px;
}
#bhover{
    padding: 9px;
}
h6{
    cursor: pointer; 
    color: rgb(182, 182, 182);
   
}
.fa {
    transition: all .6s linear;
    font-size: 15px;
}
.clicked {
    transform:rotate(180deg);
}
.wrapper{
    color: #fff;
}
#logout{
 background: rgb(90, 109, 112);
 padding: 9px;
     border-top-left-radius: 50px 50px;
  border-bottom-left-radius: 50px 50px; 
  border-top-right-radius: 50px 50px;
  border-bottom-right-radius: 50px 50px; 
  margin-top: 35px;
}
