<div class="  border-right" id="sidebar-wrapper">
  <div class="sidebar text-light">
    <img src="assets\us.png" class="img-fluid rounded-circle" style="width: 80px ; height:80px; margin-top: 20px;">
  </div>
  <!-- <p style="color:aliceblue;margin-right:20px ;">lpsum</p> -->

  <div class="list-group list-group-flush">

    <div class="wrapper">
      <aside class="main_sidebar">

        <div [routerLink]="['class']" id="bhover">
          class work
        </div>
        <div><br>
          <div [routerLink]="['lessons']" id="bhover">
            lessons
          </div><br>
          <div [routerLink]="['practies']" id="bhover">
            practices
          </div><br>
          <div [routerLink]="['test']" id="bhover">
            Tests
          </div><br>

          <div [routerLink]="['question']" id="bhover">
            Question papers
          </div><br>
          <div [routerLink]="['question']" id="bhover">
            Analytics </div><br>
          <div [routerLink]="['question']" id="bhover">
            Announcements </div><br>
          <div [routerLink]="['question']" id="bhover">
            Students
          </div><br>




          <div id="logout">
            <i style="font-size:24px" class="fa">&#xf08b;</i>
            Log out
          </div><br>



        </div>
      </aside>

    </div>
  </div>

</div>
<!-- <div [class.button-open]="!slideOpen" [class.button-close]="slideOpen" (click)="changeSlide()">
  <i class="fa fa-chevron-down text-info" [class.clicked]="slideOpen"></i>
</div> -->