<div class="card shadow bg-white rounded" style="margin-top: 20px;">
    <h5 class="card-header text-success"> Add/View Assignment-Employee Link</h5>
    <div class="card-body  ">
        <form>
            <div class="row">
                <div class="col-lg-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-user-circle"></i></span>
                        </div>
                        <select class="form-control input-sm " id="sel3">
                            <option>Select Assignment</option>
                            <option>Traffic Sudharo</option>
                            <option>Sudharo</option>
                        </select>

                    </div>
                </div>&nbsp;
                <div class="col-lg-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-user-circle"></i></span>
                        </div>
                        <input type="date" class="form-control" placeholder="Zone codes" id="usr" name="username">

                    </div>
                </div>&nbsp;
                <div class="col-lg-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-user-circle"></i></span>
                        </div>
                        <input type="date" class="form-control" placeholder="Zone codes" id="usr" name="username">

                    </div>
                </div>
            </div>&nbsp;
            <div class="row">

                <div class="col-lg-3">

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-user-circle"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Zone codes" id="usr" name="username">
                    </div>
                </div>
            </div>&nbsp;


            <br>
            <button type="submit" class="btn btn-primary">Submit</button>&nbsp;&nbsp;
            <button type="submit" class="btn btn-primary">Cancel</button>
        </form>
    </div>
</div><br>

<div class="card shadow bg-white rounded">
    <h5 class="card-header bg-secondary text-light">Client-Assignment Links</h5>
    <div class="card-body ">
        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th scope="col">ID</th>

                        <th scope="col">Assignment name</th>
                        <th scope="col">Assignment code</th>
                        <th scope="col">Date</th>
                        <th scope="col">Employee name</th>
                        <th scope="col">Employee code</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>k260</td>
                        <td>mahe</td>
                        <td>10/02/1895</td>
                        <td>mahe</td>
                        <td>mahe</td>

                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>k260</td>
                        <td>navee</td>
                        <td>10/02/2014</td>
                        <td>navee</td>
                        <td>navee</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <pagination-controls (pageChange)="p = $event" class="pagination pg-blue justify-content-end ">
    </pagination-controls>

</div>