

<div class="jumbotron jumbotron-fluid">
    <div class="container">

        <h3 class="text-info">Pratices</h3>
        <img src="assets\us1.jpg" width="50" height="50"> kumar sai dasffasf dadfasf
        <br><br>
        <div class="row">
            <div class="col-2">
                <div class="card rounded">
                    <div class="card-body shadow p-3  bg-white rounded">
                        <p>Learn Time</p>
                        <h2 class="text-info">3m 4s</h2>
                        <p>Total time spend on watching video</p>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card rounded">
                    <div class="card-body shadow p-3  bg-white rounded">
                        <p>Pratice Time</p>
                        <h2 class="text-info">6m 3s</h2>
                        <p>Total time spend on watching video</p>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <div class="card-body shadow p-3  bg-white rounded">
                        <p>Deu Date</p>
                        <h2 class="text-info">jan 20</h2>
                        <p>Total time spend on watching video</p>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <div class="card-body shadow p-3  bg-white rounded">
                        <p>Completed Date</p>
                        <h2 class="text-info">feb 22</h2>
                        <p>Total time spend on watching video</p>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <div class="card-body shadow p-3  bg-white rounded">
                        <p>First Attempted </p>
                        <h2 class="text-info">jan 2</h2>
                        <p>Total time spend on watching video</p>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <div class="card-body shadow p-3  bg-white rounded">
                        <p>No of Attempts</p>
                        <h2 class="text-info">7</h2>
                        <p>Total time spend on watching video</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-body shadow p-3  bg-white rounded">
                        <p>Attempt Wise Perfomance</p>
                        <h2 class="text-info p-5"></h2>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body shadow p-3  bg-white rounded">
                        <p>Overall Perfomance Graph </p>
                        <h2 class="text-info p-5"></h2>
                        
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body shadow p-3  bg-white rounded">
                        <p class="text-info">AVG PERCENTAGE</p>
                        <h2 class="text-info p-4">83%</h2>
                    </div>
                </div>
            </div>
            </div>
        <br>
        <!--  Pratice Detailes-->
        <h2>Pratice Detailes</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Attempted Date</th>
                    <th scope="col">Correct Answers</th>
                    <th scope="col">Wrong Answers</th>
                    <th scope="col">Total Questions</th>
                    <th scope="col">Time Spent</th>
                    <th scope="col">Score</th>

                </tr>
            </thead>
            <tbody>
                <tr class="table-light">
                    <th>nov 3</th>
                    <td>8</td>
                    <td>9</td>
                    <td>17</td>
                    <td>8m 5s</td>
                    <td style="background: rgb(29, 131, 51); color:#fff">45%</td>
                </tr>
                <tr>
                    <th scope="row">nov 30</th>
                    <td>5</td>
                    <td>6</td>
                    <td>15</td>
                    <td>8m 5s</td>
                    <td style="background: green; color:#fff">58%</td>
                </tr>
                <tr class="table-light">
                    <th scope="row">nov 30</th>
                    <td>5</td>
                    <td>6</td>
                    <td>15</td>
                    <td>8m 5s</td>
                    <td  style="background: rgb(107, 71, 192); color:#fff">65%</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>